body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: beige;
}

.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}

#titleText{
    text-align: center;
    font-size: 75px;
}

#townText{
    text-align: center;
    font-size: 45px;
}

#gameLayout{
    display: inline-flex;
    flex-wrap: nowrap;
}

#map{
    margin-left: 5vw;
    margin-right: 5vw;
}

#guessInfoText{
    /* display: inline-block;
    position: absolute;
    left: 5px;
    word-wrap: break-word;
    top: 100px; */
    /* display: flex;
    justify-content: center; */
    word-wrap: break-word;
    width: 26.5vw;
    height: fit-content;
    float: left;
    font-size: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#townInfoText{
    /* display: flex;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 100px; */
    word-wrap: break-word;
    width: 20vw;
    height: fit-content;
    font-size: 35px;
    float: right;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#buttons{
  display: flex;
  justify-content: center;
}

#mapToggles{
    justify-content: center;
    display: flex;
}

#modeToggles{
    justify-content: center;
    display: flex;
}

#menuDiv{
    background-color: bisque;
    padding: 10px;
}

#mapToggles,#modeToggles,#sliderDiv{
    margin: 75px;
}

.mapToggle + .mapToggle {
    margin-left: 50px;
}

.modeToggle + .modeToggle {
    margin-left: 100px;
}

#buttonDiv, #sliderDiv, #inputDiv{
    display: flex;
    justify-content: center;
}

#roundsRangeLabel, #idLabel{
    margin-left: 15px;
}

input[type="text"]{
    border-radius: 5px;
}

button {
    padding: 20px;
    margin: 20px;
    background-color: rgb(255, 128, 96);
    border-radius: 10%;
}